body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.chatbody {
    padding: 30px 30px 60px 30px;
    background-color: #B0E0E6;
}

.textarea {
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.timestamp {
    color: #EEB4B4;
    padding-right: 20px;
}
.username  {
    color: #483D8B;
    padding-right:20px;
}
.message{
    color: black;
}

